<html layout:decorator="layout">
    <div layout:fragment="content">
        <form method="post" name="comment_form" id="comment_form" action="/suggestions/comments/create" role="form">
            <div class="form-group">
                <label for="type">Vote</label>
                <select name="vote">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>                   
                    <option value="4">4</option>                    
                    <option value="5">5</option>
                </select> 
                <br/><label for="message">Comment</label>
                <textarea rows="5" class="form-control" id="message" name="message"/>
            </div>
            <input type="hidden" name="item" data-th-value="${postid}"/>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</html>